<div class="row w-100 m-0 p-0" style="min-height:400px;max-height:400px;background: #cce6ff">

    <label class="form-control m-0 p-0" style="max-height:25px;min-height:25px;background: #cce6ff">{{journalInput}}</label>
    <label class="form-control m-0 p-0" style="max-height:25px;min-height:25px;background: #cce6ff" [ngClass]="{'text-danger':isError}">
        {{journalText}}
    </label>

    <div class="w-100 m-0 p-0" style="overflow-y:scroll; height:350px">
        <table class="table table-striped my-0 py-0">
            <thead class="m-0 p-0">
                <tr class="m-0 p-0" style="min-height:25px;max-height:25px">
                    <th class="m-0 p-0 pl-1">Description</th>
                    <th class="m-0 p-0 text-center">QTY</th>
                    <th class="m-0 p-0 text-right">Price</th>
                    <th class="m-0 p-0 text-right">DIS%</th>
                    <th class="m-0 p-0 pr-1 text-right">Amount</th>
                </tr>
            </thead>
            <tbody class="m-0 p-0">
                <tr *ngFor="let eposTransline of eposTranslines" class="m-0 p-0" style="min-height:25px;max-height:25px"
                    [style.background]="selectedEposTransLine.lineNo==eposTransline.lineNo?'#cc9900':'#cce6ff'"
                    [ngClass]="{'text-danger':eposTransline.lineStatus}"
                    (click)="setSelectedEposTransLine(eposTransline)">
                    <td class="m-0 p-0 pl-1">
                        {{eposTransline.description}}
                    </td>
                    <td class="m-0 p-0 text-center">
                        {{eposTransline.quantity}}
                    </td>
                    <td class="m-0 p-0 text-right">
                        {{eposTransline.price.toFixed(2)}}
                    </td>
                    <td class="m-0 p-0 text-right">
                            {{eposTransline.discountPercentage.toFixed(2)}}
                        </td>
                    <td class="m-0 p-0 pr-1 text-right">
                        {{eposTransline.netAmount.toFixed(2)}}
                    </td>
                </tr>
            </tbody>
        </table>
</div>
</div>