<div class="row w-100 m-0 p-0 text-center" style="min-height:27px;max-height:27px">
    <table class="table table-condensed m-0 p-0"  style="min-height:27px;max-height:27px">
        <tr class="m-0 p-0 text-success" style="min-height:27px;max-height:27px">
            <td class="m-0 p-0 text-left"><current-time></current-time></td>
            <td class="m-0 p-0 text-left">
                    <button class="btn btn-sm btn-success" (click)="gohome()">
                            <i class="fa fa-home fa-sm"></i>
                    </button>
            </td>
            <td class="m-0 p-0 text-right">
                    Pos: {{tillId}}
                </td>
            <td class="m-0 p-0 text-right">
                Device: {{deviceId}}
            </td>
        </tr>
    </table>
</div>
<div class="row w-100 m-0 p-0" style="min-height:200px;max-height:200px">
    <table class="table m-0 p-0">
        <tr class="m-0 p-0">
            <th class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    £0
                </button>
            </th>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    7
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    8
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    9
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-success m-0 p-0"
                    style="min-height:50px">
                    CLEAR
                </button>
            </td>
        </tr>
        <tr class="m-0 p-0">
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    £0
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    4
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    5
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    6
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-success m-0 p-0" 
                    style="min-height:50px">
                    ENTER
                </button>
            </td>
        </tr>
        <tr class="m-0 p-0">
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    £0
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    1
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    2
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    3
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-danger m-0 p-0" 
                    style="min-height:50px">
                    CARD
                </button>
            </td>
        </tr>
        <tr class="m-0 p-0">
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    £0
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    0
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    00
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-primary m-0 p-0" 
                    style="min-height:50px">
                    X
                </button>
            </td>
            <td class="m-0 p-0" style="min-width:35px">
                <button type="button" class="btn btn-lg btn-block btn-danger m-0 p-0" 
                    style="min-height:50px">
                    CASH
                </button>
            </td>
        </tr>
    </table>
</div>