<div class="row w-100 m-0 p-0" style="min-height:100px"></div>
<div class="row" style="margin: auto;width: 40%;font-weight: bold">
    
    <h3 class="text-info text-center" style="margin: auto" >
        {{posting}}
    </h3>
    <table class="table table-bordered table-sm m-0 p-0" >
        <thead class="table-primary text-center">
            <th colspan="2">
                {{header}}
            </th>
        </thead>
        <tr class="table-info">
            <td>No Of Items</td>
            <td>{{noOfItems}}</td>
        </tr>
        <tr class="table-info">
            <td>Discount</td>
            <td>{{discount.toFixed(2)}}</td>
        </tr>
        <tr class="table-success text-black">
            <td>Total</td>
            <td>{{salesAmount.toFixed(2)}}</td>
        </tr>
        <tr class="table-warning text-black">
            <td>Paid</td>
            <td>{{paid.toFixed(2)}}</td>
        </tr>
        <tr class="table-danger text-black">
            <td>Change</td>
            <td>{{change.toFixed(2)}}</td>
        </tr>
        <tr class="table-info"> 
            <td colspan="2">
                <button type="button" class="btn btn-sm btn-info btn-block text-white m-0 p-0" 
                style="min-height:50px" (click)="goToTill()" > 
                    OK
                </button>
            </td>
        </tr>
    </table>
</div>
