<div class="row w-100 m-0 p-0" style="min-height:768px">
    <div align="center">
        <button  *ngFor="let table of tables " type="button"  class="btn btn-sm btn-primary text-white m-1 p-1" 
        style="min-height:55px;min-width: 100px"
        [style.background]="table.colour"
        (click)="selectTable(table)">
           {{table.tableName}}
        </button>

        <button type="button" class="btn btn-sm btn-danger btn-block" style="min-height: 55px"
        (click)="back()">
            MAIN
        </button>
    </div>
</div>