<div class="row w-100 m-0 p-0" style="min-height:768px;align-content: center">
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol1"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol2"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol3"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol4"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol5"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol6"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol7"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol8"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol9"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col m-0 p-0">
        <table class="table m-0 p-0">
            <tr *ngFor="let takeaway of TakeawayCol10"  class="m-0 p-0">
                <td class="m-1 p-1">
                    <button type="button"  class="btn btn-sm btn-block text-white m-0 p-0" 
                    style="min-height:55px"
                    [style.background]="takeaway.colour" (click)="selectTakeaway(takeaway)">
                        {{takeaway.takeawayId}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <button type="button" class="btn btn-sm btn-danger btn-block" style="min-height: 55px;max-height: 55px"
        (click)="back()">
            MAIN
    </button>
</div>